<div class="container">
  <h1>Añadir Patron</h1>
  <a [routerLink]="['/patrones/index']" class="btn btn-primary">Volver</a>

  <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
          <label for="name">Nombre:</label>
          <input
              formControlName="name"
              id="name"
              type="text"
              class="form-control">
              @if (f['name'].touched && f['name'].invalid) {
                <div class="alert alert-danger">
                  @if(f['name'].errors && f['name'].errors['required']){
                    <div>Nombre es requerido.</div>
                  }
              </div>
              }

      </div>

      <div class="form-group">
          <label for="phone">Telefono</label>
          <input
              formControlName="phone"
              id="phone"
              type="text"
              class="form-control"/>
              @if (f['phone'].touched && f['phone'].invalid) {
                <div class="alert alert-danger">
                  @if(f['phone'].errors && f['phone'].errors['required']){
                    <div>Telefono es requerido.</div>
                  }
              </div>
              }

      </div>

      <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
  </form>
</div>
