@if(isAuthenticated){
<a [routerLink]="['/patrones/nuevo']" class="btn btn-success btn-sm">Añadir Patron</a>
}
<table class="table table-bordered border-primary my-4">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    @for (p of patrons; track p.id){
      <tr >
        <th>{{p.id}}</th>
        <th>{{p.name}}</th>
        <th>{{p.phone}}</th>
        <td>
          @if(isAuthenticated){
            <button type="button" (click)="remove(p.id)" class="btn btn-danger btn-sm">Eliminar</button>
          }
        <button type="button" class="btn btn-warning btn-sm">Editar</button>
      </td>
    </tr>
}
  </tbody>
</table>
