<a [routerLink]="['/patrones/nuevo']" class="btn btn-success">Añadir Patron</a>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of patrons">
      <th>{{p.id}}</th>
      <th>{{p.name}}</th>
      <th>{{p.phone}}</th>
      <td>
        <a href="#"  class="btn btn-info">View</a>
        <!-- <a href="#" [routerLink]="['/patrones/', p.id, 'edit']" class="btn btn-primary">Edit</a> -->
        <button type="button" (click)="remove(p.id)" class="btn btn-danger">Eliminar</button>
      </td>
    </tr>

  </tbody>
</table>
